---
import Layout from "@Layouts/Layout.astro";
import HeroContainer from "@components/HeroContainer.astro";
import { getI18N } from "../../i18n";


const { currentLocale } = Astro.props
const i18n = getI18N({currentLocale})

---

<Layout 
title=`${i18n.INTRO_TITLE}&nbsp;${new Date().getFullYear()}` 
description=`${i18n.SEO_DESCRIPTION}&nbsp;${new Date().getFullYear()}`>
  
  <HeroContainer img="../../.././public/img/info-background.webp">
    <h1>
      {i18n.INFO_TITLE}
    </h1>
  </HeroContainer>

  <main class="pb-24">
    <section class="w-full max-w-[1400px] mx-auto my-24 gap-10 text-pretty px-6 text-left text-xl sm:px-20 flex flex-col md:flex-row items-center justify-between p-6">

    </section>
  </main>

</Layout>