---
// === Version Original English
import Layout from '../layouts/Layout.astro';
import Video from '../components/Video.astro';
import Intro from '../components/Intro.astro';
import BentoGrid from '../components/BentoGrid.astro';
import PreFooter from '../components/PreFooter.astro';
import Footer from '../components/Footer.astro';

---

<Layout 
title="Welcome to celebration of the world Streaming and Content Creating."
description="Enjoy to the best strimmers and Content Creators of American continent and Europe "
>
	<Video />
	<main>
		<Intro />
		<BentoGrid />
		<PreFooter />
	</main>
	<Footer />
</Layout>

