---
// === Version Original English
import Layout from '../layouts/Layout.astro';
import Video from '../components/Video.astro';
import Intro from '../components/Intro.astro';
import BentoGrid from '../components/BentoGrid.astro';
import PreFooter from '../components/PreFooter.astro';
import Footer from '../components/Footer.astro';
import { getI18N } from '../i18n';

const {currentLocale} = Astro
const i18n = getI18N({currentLocale})

---

<Layout 
title=`${i18n.SEO_TITLE}&nbsp;${new Date().getFullYear()}`
description={i18n.SEO_DESCRIPTION}
>
	<Video />
	<main>
		<Intro />
		<BentoGrid />
		<PreFooter />
	</main>
	<Footer />
</Layout>

