---
import BentoGridItem from "./BentoGridItem.astro";
---

<section class={`w-full max-w-[1400px] grid lg:grid-cols-10 auto-rows-[30rem] gap-4`}>
  <BentoGridItem class="cols-span-10 lg:col-span-4" class="col-span-10 lg:col-span-4" title="bentoGrid" />

</section>