---
import BentoGridItem from "./BentoGridItem.astro";
---

<section class={`w-full max-w-[1400px] grid lg:grid-cols-10 auto-rows-[30rem] gap-4`}>
  
  <BentoGridItem class="cols-span-10 lg:col-span-4" class="col-span-10 lg:col-span-4" title="bentoGrid__1" />
  <BentoGridItem class="cols-span-10 lg:col-span-4" class="col-span-10 lg:col-span-4" title="bentoGrid__2" subtitle="subBento_1" />
  <BentoGridItem class="cols-span-10 lg:col-span-4" class="col-span-10 lg:col-span-4" title="bentoGrid__3" subtitle="subBento_2"/>
  <BentoGridItem class="cols-span-10 lg:col-span-4" class="col-span-10 lg:col-span-4" title="bentoGrid__4" />

</section>