---
import BentoGridItem from "./BentoGridItem.astro";
---

<section class={`w-full max-w-[1400px] grid lg:grid-cols-8 auto-rows-[30rem] gap-4`}>
  
  <BentoGridItem class="col-span-10 lg:col-span-4" title="ANDORRA: THE ZENIT FROM THE ESLAND AWARDS">
    <div
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
        -z-10 h-full w-full bg-blue-950
        bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
      style="background-image: url('../../public/img/mountain_02.webp');"
    >
    </div>

    <p
      slot="content"
      class="max-w-xl text-base md:text-lg"
      >
      A new edition full of news and content, which will begin several weeks before the long-awaited gala. Special live shows, collaborations, concerts and much more in what will be a true party dedicated to content creation.
    </p>
  </BentoGridItem>

  <BentoGridItem class="col-span-10 lg:col-span-4" title="THE WHITE CARPET AND THE GALA">
    <div
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
        -z-10 h-full w-full bg-blue-950
        bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
      style="background-image: url('../../public/img/pistas_02.webp');"
    >
    </div>

    <p
      slot="content"
      class="max-w-xl text-base md:text-lg"
    >
      THE WHITE CARPET AND THE GALA
      February 16, 2024.
      One of the most anticipated days of the year in the Spanish-speaking community, with two great milestones concentrated in the same live show. 
   </p>
  </BentoGridItem>

  <BentoGridItem class="col-span-10 lg:col-span-4" title="CHARITY COLLABORATIONS">
    <div
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
        -z-10 h-full w-full bg-blue-950
        bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
      style="background-image: url('../../public/img/theater_02.webp');"
    >
    </div>

    <p
      slot="content"
      class="max-w-xl text-base md:text-lg"
    />
  </BentoGridItem>

  <BentoGridItem class="col-span-10 lg:col-span-4" title="ENJOY THE COMMUNITY REDDIT">
    <div
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
        -z-10 h-full w-full bg-blue-950
        bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
      style="background-image: url('../../public/img/laptop_02.webp');"
    >
    </div>

    <p
      slot="content"
      class="max-w-xl text-base md:text-lg"
    > 
     This year, reddit will not be part of the awards voting, but it will be part of the community. The official subreddit of the ESLAND Awards is open for you, for you to share your clips, your opinions and for you to interact with the entire Spanish-speaking streaming community.
    </p>
  </BentoGridItem>

</section>