---
// - TS Config jSON => Components -
import Logo from "@components/Logo.astro" 
import HeaderLink from "@components/HeaderLink.astro"
import Button from "@components/Button"
import MenuIcon from "@components/icons/Menu.astro"
import CloseIcon from "@components/icons/Close.astro"
import { getI18N } from "../i18n/index"
import { getLangFromUrl, useTranslation, useTranslationPath } from "src/i18n/utils"


const { currentLocale } = Astro
const i18n = getI18N( { currentLocale } )
const lang = getLangFromUrl(Astro.url); 
const t = useTranslation(lang); 
const translatePath = useTranslationPath(lang); 

---

<header id="headerNav" class="fixed w-screen py-4 z-10 top-0 px-8 lg:px-0">
  <div class="flex max-w-7xl mx-auto items-center">
   <a href="/" class="col-span-1">
    <Logo class="w-12 my-0 mx-4 h-auto" />
  </a>
   <nav class="w-[60%] lg:w-[70%] md:mx-[10px]">
    <ul class="flex gap-4 p-2">
      <li class="text-base font-bold uppercase">Info</li>
      <li class="text-base font-bold uppercase">Archive</li>
      <li class="text-base font-bold uppercase">Finalist</li>
    </ul>
   </nav>
   <a href="#" class="border rounded-full inline-block border-white px-4 py-2 justify-self-end hover:bg-white hover:text-black duration-300">ESLAND: Documentaly</a>
  </div>
</header>
