---

---
<!-- === Avoid Communs Errors - Videos - (Web Components to  YT) === -->
<section>
  <h3 class="uooercase">Guide To the 3 Edition for ESLAND Awards</h3>

  <lite-youtube  
   videoid="aL8kcA3ZDOs"
   videtitle="ESLAND Awards"
   class="shadow-2xl shadow-white/10"
  ></lite-youtube>

</section>

<script>
  import '@justinribeiro/lite-youtube';
</script>