---

---

<div class="w-full relative">
  <img class="absolute top-10 z-10 w-[800px] right-0 left-0 m-auto" src="../../public/icons/logo-home.svg" alt="Esland Awards Comunity">
  <video class="w-full h-auto object-cover object-top animate-fade animate-ease-in animate-duration-1000" 
  src="../../public/video/esland_prove.mp4" autoplay loop muted
  style="clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 85%);"
  ></video>

  <video 
  class="absolute -bottom-48 blur-3xl -z-40"
  src="../../public/video/esland_prove.mp4"
  loop
  muted
  ></video>
</div>