---
import Header from '../components/Header.astro';
import "@fontsource-variable/onest"; 
interface Props { // === Typescript ===
	title: string;
	description: string; 
}

const { title, description } = Astro.props;
const { currentLocale } = Astro
---

<!doctype html>
<html lang={currentLocale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		color-scheme: dark;
	}
	html {
		font-family: 'Onest Variable', system-ui, sans-serif;
		background: #151a36;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	p {
		color: rgba(255, 255, 255, 0.9); 
		line-height: 1.4;
		margin-bottom: 1em; 
		font-weight: 100;
		font-size: 1em;
		letter-spacing: 0.5px;
	}
	p strong {
		color: #fff;
		font-weight: 700;
	}

	#headerNav {
		animation: blur linear both;
		animation-timeline: scroll();
		animation-range: 0 500px;
	}
	@keyframes blur {
        to {
          box-shadow:
            0px 5px 50px -5px rgba(0, 0, 0, 0.1),
            0px 0px 0 1px rgba(0, 0, 0, 0.3);
          background: rgba(0, 0, 0, 0.3);
          backdrop-filter: blur(10px);
        }
      }

</style>
